<div class="row">
	
	<div class="col-md-6 offset-3 text-center alert alert-success">

		<h2>Your account was created Successfully</h2>

		<p>You can login to your acount using your credentials</p>
		<hr />
		<p>Thank you!</p>

	</div>

</div>